<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admindashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/admindashboard.js"></script>

</head>

<body>
    <header>
        <h1 class="mainTitle">ADMIN DASHBOARD</h1>
    </header>
</body>
<nav>
    <ul class="navList">
        <li class="navItem">
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<main>
    <h2>Create a new user:</h2>
    <form id="adminCreateUser" action="/api/CreateUser" method="post">

        <label for="admin"><b>Admin: </b></label>
        <select name="admin" id="admin">
            <option value="false" selected>False</option>
            <option value="true">True</option>
        </select>
        <br>
        <label for="firstName"><b>First Name: </b></label>
        <input type="text" placeholder="Enter First Name" name="firstName" id="firstName" required>

        <label for="lastName"><b>Last Name: </b></label>
        <input type="text" placeholder="Enter Last Name" name="lastName" id="lastName" required>

        <label for="email"><b>Email: </b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email" required>

        <label for="password"><b>Password: </b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <button type="submit" class="styledButton" id="addUserButton">Add User</button>
    </form>
    <h2>Update current users:</h2>
    <div id="userAccount">
        <% if (users.length> 0) {%>
            <% users.forEach(user=> { %>
                <div class="userCard" id="<%= user._id %>">
                    <form action="/api/updateUser" method="post">
                        <input type="hidden" name="userId" value="<%= user._id %>">
                        <label for="admin"><b>Admin: </b></label>
                        <select name="admin">
                            <% if (user.admin) {%>
                                <option value="true" selected>True</option>
                                <option value="false">False</option>
                                <% } else { %>
                                    <option value="false" selected>False</option>
                                    <option value="true">True</option>
                                    <% } %>
                        </select>
                        <br>
                        <label for="firstName"><b>First Name: </b></label>
                        <input type="text" value="<%= user.firstName %>" name="firstName" required>

                        <label for="lastName"><b>Last Name: </b></label>
                        <input type="text" value="<%= user.lastName %>" name="lastName" required>

                        <label for="email"><b>Email: </b></label>
                        <input type="email" value="<%= user.email %>" name="email" required>

                        <label for="password"><b>Password: </b></label>
                        <input type="password" placeholder="Blank to not change" value="" name="password">
                        <button type="button" class="styledButton removeUserButton">Delete User</button>
                        <button type="submit" class="styledButton updateUserButton">Update</button>
                    </form>
                </div>
                <% })} %>
    </div>
</main>

</html>